<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-59848604-1"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments)};
     gtag('js', new Date());     
     gtag('config', 'UA-59848604-1');
    </script>

    <title>Tobias Rausch</title>
    <meta charset="UTF-8">
    <meta name="author" content="Tobias Rausch">
    <meta name="description" content="Publications & Software of Tobias Rausch, EMBL.">
    <meta name="keywords" content="Tobias Rausch, EMBL, Structural Variants, Structural Variation, Delly, Somatic Variants, Germline Variants">
    <meta name="FirstName" content="Tobias">
    <meta name="LastName" content="Rausch">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
